#sidebar .nav-link {
  color: #212529;
}

#sidebar .nav-link.active {
  color: #0d6efd;
}

pre code {
  font-size: 0.85rem;
}

[data-bs-theme="dark"] #sidebar {
  background-color: var(--bs-tertiary-bg) !important;
  border-color: var(--bs-border-color) !important;
}
